
{% load static %}

<html>
  
    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        <title>Taskly | Dashboard</title>
    
    </head>



    {% include 'profile/base.html'%}
    
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h2>Taskly</h2>
        <hr>

        <p>Welcome, to Taskly  <br><br>Your personal task manager application!</p>
        
        <br>
       
        <a href="{% url 'profile-management' %}"> Profile Management </a>


    </div>
   
</html>

