
{% load static %}
{% load crispy_forms_tags %}

<html>
    <head>

        <meta charset="utf-8" />

        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/solar/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
       
        <title>Taskly | My Login</title>

    </head>

    {% include 'nav-bar.html' %}

    <br> 


    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Login </h3>
        <hr>

        <form method="POST" autocomplete="off">


            {% csrf_token %}

            {{ form.username|as_crispy_field }}
            <br>

            {{ form.password|as_crispy_field }}
            <br>


            <input class="btn btn-primary navbar-btn" type='submit' value='Login'/>
            <br><br><br>

            <p>Don't have an account!  <a href="{% url 'register' %}"> <br> Register </a></p>


        </form>

    </div>
    <br>


</html>